

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

#Add this line to track the media folder
media/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.mypy_cache*

*.isorted

################################
########### VS CODE ############
################################
.vscode
*.code-workspace
.history
.DS_Store

# SQLite database file
db.sqlite3

# Ignore migration files, but keep the folder and __init__.py
**/migrations/*
!**/migrations/
!**/migrations/__init__.py

# Ignore compiled python files in migrations
**/migrations/*.pyc
__pycache__/
media/
fixtures/
