{% extends "app/base.html" %}
{% load i18n %}

{% block title %}{% translate "Password changed" %}{% endblock %}

{% block content %}

<div class="side-app main-container">

    <!--Page header-->
    <div class="page-header d-flex">
        <div class="page-leftheader">
            <div class="page-title">{{title}}</div>
        </div>
    </div>
    <!--End Page header-->

    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header border-bottom-0">
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="text-center">
                                <p>{% translate "Password successfully changed!" %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{# This is used by django.contrib.auth #}
