{% extends "web/base.html"%} {% load static %} {% block content %}

<section id="facility-about">
  <section class="wrapper">
    <div class="about-container">
      <div class="about-left">
        <div class="top-tittle">
          <h4>About Talrop</h4>
        </div>
        <p>
          Techies Park is one of the business initiative by Talrop that serves
          as a community hub, being built in every assembly constituency of
          Kerala. Talrop focuses on Education, Technology, Jobs and
          Entrepreneurship to build a strong startup ecosystem in Kerala.
          Techies Parks is dedicated to achieving multiple goals including
          bridging the gap between industry and academy, fostering more
          entrepreneurship within the state, ensuring that technology is
          accessible in every corner of the state, creating numerous job
          opportunities, and attracting foreign investment from abroad. Each
          Techies Park is built by spending Rupees 1 Crore in every assembly
          constituencies.
        </p>
      </div>
      <div class="about-right">
        <div class="img-container">
          <img src="../../static/web/images/course1.png" alt="Image" />
        </div>
      </div>
    </div>
  </section>
  <!--Wrapper > End-->
</section>
<!--#Facility-about > End-->

<section id="objective">
  <section class="wrapper">
    <!-- ReadMore-Box -->
    <div class="container">
      <input type="checkbox" id="check" />
      <p>
        Techies Park is one of the business initiative by Talrop that serves as
        a community hub, being built in every assembly constituency of Kerala.
        Talrop focuses on Education, Technology, Jobs and Entrepreneurship to
        build a strong startup ecosystem in Kerala. Techies Parks is dedicated
        to achieving multiple
      </p>
      <div class="content">
        <p>
          goals including bridging the gap between industry and academy,
          fostering more entrepreneurship within the state, ensuring that
          technology is accessible in every corner of the state, creating
          numerous job opportunities, and attracting foreign investment from
          abroad. Each Techies Park is built by spending Rupees 1 Crore in every
          assembly constituencies.
        </p>
      </div>
      <label for="check">Read more</label>
    </div>
    <!--ReadMore > Box End-->
  </section>
</section>

<section id="Teams">
  <section class="wrapper">
    <div class="title">
      <h4>Team Talrop</h4>
    </div>
    <ul class="all-team">
      <li>
        <div class="img-container">
          <img
            src="../../static//web/images/facilities/safeer.png"
            alt="Image"
          />
        </div>
        <div class="details">
          <h3>Safeer Najumudeen</h3>
          <span>Founder and CEO</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>

      <li>
        <div class="img-container">
          <img
            src="../../static//web/images/facilities/Jhones.png"
            alt="Image"
          />
        </div>
        <div class="details">
          <h3>Jhons Joseph</h3>
          <span>Director and coo</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>

      <li>
        <div class="img-container">
          <img src="../../static//web/images/facilities/anas.png" alt="Image" />
        </div>
        <div class="details">
          <h3>Anas Abdul Gafoor</h3>
          <span>Founder and CFO</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>

      <li>
        <div class="img-container">
          <img
            src="../../static//web/images/facilities/ajees.png"
            alt="Image"
          />
        </div>
        <div class="details">
          <h3>Ajeesh Satheeshan</h3>
          <span>Director and CMO</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>

      <li>
        <div class="img-container">
          <img
            src="../../static//web/images/facilities/shameer.png"
            alt="Image"
          />
        </div>
        <div class="details">
          <h3>Shameer Khan</h3>
          <span>Founder and CAO</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>

      <li>
        <div class="img-container">
          <img
            src="../../static//web/images/facilities/shameer.png"
            alt="Image"
          />
        </div>
        <div class="details">
          <h3>Sobir Najumudeen</h3>
          <span>Founder and CTO</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>

      <li>
        <div class="img-container">
          <img
            src="../../static//web/images/facilities/afifa.png"
            alt="Image"
          />
        </div>
        <div class="details">
          <h3>Afifa Salim</h3>
          <span>Director and CHRO</span>
        </div>
        <div class="social">
          <a href="#">
            <img
              src="../../static/web/images/icons/insta-color.svg"
              alt="Instagram"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/fb-color.svg"
              alt="Facebook"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/twitter-color.svg"
              alt="Twitter"
            />
          </a>
          <a href="#">
            <img
              src="../../static/web/images/icons/li-color.svg"
              alt="linked-in"
            />
          </a>
        </div>
      </li>
    </ul>
  </section>
</section>

<section id="facility">
  <section class="wrapper">
    <div class="container">
      <div class="left">
        <div class="img-container">
          <img
            src="../../static/web/images/facilities/facility.png"
            alt="Images"
          />
        </div>
      </div>
      <div class="right">
        <p>
          The Techies Park in Jamia Nadwiyya campus was established in 2018 with
          the aim of bridging the industry-academic gap and providing the
          students of the college with the knowledge and tools they need to have
          a successful career. The BCA students of Jamia Nadwiyya campus spend
          half their day in college and the other half at Techies Park, which
          enables them to apply their knowledge into practice by using the
          facilities provided. With the help of Talrop and its Techies Park,
          Jamia Nadwiyya campus has become a hub for nurturing aspiring
          engineers.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="right">
        <p>
          The Techies Park in Jamia Nadwiyya campus was established in 2018 with
          the aim of bridging the industry-academic gap and providing the
          students of the college with the knowledge and tools they need to have
          a successful career. The BCA students of Jamia Nadwiyya campus spend
          half their day in college and the other half at Techies Park, which
          enables them to apply their knowledge into practice by using the
          facilities provided. With the help of Talrop and its Techies Park,
          Jamia Nadwiyya campus has become a hub for nurturing aspiring
          engineers.
        </p>
      </div>
      <div class="left">
        <div class="img-container">
          <img
            src="../../static/web/images/facilities/facility.png"
            alt="Images"
          />
        </div>
      </div>
      
    </div>
  </section>
</section>


{% if testimonials %}
<section id="testimonial">
    <section class="wrapper">
        <div class="top-testimonaial">
            <div class="title-box">
                <h4>Testimonials</h4>
            </div>
        </div>
        <ul class="testimonial-slider-box">
            {% for item in testimonials %}
            <li>
                <div class="top"></div>
                <div class="bottom">
                    <div class="avatar-icon">
                        <img src="{{item.image.url}}" alt="image" />
                    </div>
                    <div class="quote-img">
                        <img src="{% static 'web/images/icons/green-quote.svg' %}" alt="image" />
                    </div>
                    <p>
                        {{item.description}}
                    </p>
                    <h6>{{item.name}}</h6>
                    
                </div>
            </li>
            {% endfor %}
        </ul>
        <!-- <div class="slider-ripple">
            <img src="{% static 'web/images/slider-ripple.png' %}" alt="images" />
        </div> -->
    </section>
</section>
{% endif %}
<!--#testimonial>-->


{% endblock %}
