{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags %}
{% block title %}Bad Request Error!: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container detail_page">

	<div class="page-header d-flex">
		<div class="page-leftheader">
			<div class="page-title">Bad Request Error!</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card content_card">
				<div class="card-body">

					<div class="row">
						<div class="col-md-5">
							<img src="{% static 'app/images/png/error.png' %}" alt=" " class="mt-7">
						</div>
						<div class="col-md-7 mt-6">
							<div class="display-1 mb-5 font-weight-bold texteffect">400</div>
							<h1 class="h3  mb-3 font-weight-semibold">Bad Request Error!</h1>
							<p class="h5 font-weight-normal mb-7 leading-normal">You may have mistyped the address or
								the page may have moved.</p>
							<a class="btn btn-primary" href="{% url 'core:	' %}"><i
									class="fe fe-arrow-left-circle me-1"></i>Back to Home</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
