{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 %}
{% block title %}{{title|title}} : {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container">

    <!--Page header-->
    <div class="page-header d-flex">
        <div class="page-leftheader">
            <div class="page-title text-capitalize">{{title|title}}</div>
        </div>
        <div class="page-rightheader ms-md-auto">
          <div class="btn-list">
            <a href="{% url 'examination:batch_based_mark_list_print' batch.pk %}" class="btn btn-sm btn-white" title="Print"> <i
              class="feather feather-printer"></i> </a>
            <a href="{% export_url 'xlsx' %}" class="btn btn-sm btn-white" data-bs-placement="top"
                    data-bs-toggle="tooltip" title="Export"> <i class="feather feather-download-cloud"></i> </a>
          </div>  
        </div>

    </div>
    <!--End Page header-->
    {% include 'app/partials/messages.html' %}
    <div class="row row-sm">
        <div class="col-lg-12">

            <div class="card custom-card">
                <div class="card-body p-0">
                    <div class="table-container table-responsive">
                        <table class="table table-hover table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th rowspan="2">Rank</th>
                                    <th rowspan="2">Student</th>
                                    <th rowspan="2">REG.NO</th>
                                    {% for s in subjects %}
                                    <th colspan="2" class="text-center">{{ s.name|truncatechars:15}}</th>
                                    {% endfor %}
                                    <th rowspan="2">Total</th>
                                    <th rowspan="2">SGPA</th>
                                    <th rowspan="2">Grade</th>
                                </tr>
                                <tr>
                                    {% for s in subjects %}
                                    <th class="text-center">TE</th>
                                    <th class="text-center">CE</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Loop through students and their marks -->
                                {% for i in items %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ i.student }}</td>
                                    <td>{{ i.reg_no }}</td>
                                    {% for s in i.subjects_data %}
                                    <td class="text-center">{% if s.stutus == 'Fail' %}<span class="text-danger">{{ s.te_mark }}</span>{% else %}{{ s.te_mark }}{% endif %}</td>
                                    <td class="text-center">{{ s.ce_mark }}</td>
                                    {% endfor %}
                                    <td class="text-center">{{ i.total_mark }}</td>
                                    <td class="text-center">{{ i.sgpa }}</td>
                                    <td class="text-center">{{ i.overall_grade }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        
        <div class="col-md-6 ">
            <div class="card mb-0 custom-card h-100">
                <div class="card-header">
                    <h3 class="card-title">Grade Distribution</h3>
                </div>
                <div id="chart"></div>
            </div>
        </div>
        <div class="col-md-6 ">
          <div class="card mb-0 custom-card h-100">
            <div class="card-header">
                <h3 class="card-title">Result Status</h3>
            </div>
            <div id="result-chart"></div>
        </div>
        </div>
        
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-0 custom-card h-100">
                <div class="card-header">
                    <h3 class="card-title">Total Marks of Students</h3>
                </div>
                <div id="mark_chart"></div>
            </div>
      </div>
    </div>
</div>
{% include 'app/partials/data_table.html' %}
{% include 'app/partials/apexchart.html' %}
{% include 'app/partials/filter.html' %}
{% include 'app/partials/help.html' %}

{% endblock content %}

{% block javascript %}
<script>
  var options = {
      series: {{count_list|safe}},
      chart: {
      width: '400px',
      height: '400px',
      type: 'pie',
    },
    labels: {{grade_list|safe}},
    colors: ['#808080', '#00FF00','#800080','#FFC0CB','#0000FF','#00FFFF','#FF0000','#FFA500'],
    
    plotOptions: {
      pie: {
        dataLabels: {
          offset: -5,
        },
      },
    },
    grid: {
      padding: {
        top: 0,
        bottom: 0,
        left: 0,
        right: 0,
      },
    },
    dataLabels: {
      formatter(val, opts) {
        const name = opts.w.globals.labels[opts.seriesIndex]
        return [name, val.toFixed(1) + '%']
      },
    },
    legend: {
      show: false,
    },
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();

</script>
<script>
  var options = {
          series: [ {{fail_count}},{{pass_count}}],
          chart: {
          width: 400,
          height: 400,
          type: 'donut',
          dropShadow: {
            enabled: true,
            color: '#111',
            top: -1,
            left: 3,
            blur: 3,
            opacity: 0.5
          }
        },
        stroke: {
          width: 0,
        },
        grid: {
          padding: {
            top: 0,
            bottom: 0,
            left: 0,
            right: 0,
          },
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                total: {
                  showAlways: true,
                  show: true
                }
              }
            }
          }
        },
        labels: ["Failed","Passed", ],
        colors: ['#FF0000', '#28a745'],
        dataLabels: {
          dropShadow: {
            blur: 3,
            opacity: 1
          }
        },
        
        states: {
          hover: {
            filter: 'none'
          }
        },
        theme: {
          palette: 'palette1'
        },
        // title: {
        //   text: "Favourite Movie Type"
        // },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 300
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#result-chart"), options);
        chart.render();
</script>
<script>
    var options = {
          series: [{
          data: {{total_marks_list|safe}}
        }],
          chart: {
          height: 350,
          type: 'bar',
          events: {
            click: function(chart, w, e) {
              // console.log(chart, w, e)
            }
          }
        },
        // colors: colors,
        plotOptions: {
          bar: {
            columnWidth: '45%',
            distributed: true,
          }
        },
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        xaxis: {
          categories: {{students|safe}},
          labels: {
            style: {
            //   colors: colors,
              fontSize: '12px'
            }
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#mark_chart"), options);
        chart.render();
</script>
{% endblock %}
